{# one.twig #}
{% extends "layout.twig" %}

{% block title %} Просмотр статьи номер:{{ article.id }} {% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <a href="/">Главная</a><br>
    <b>Номер новости:</b>{{ article.id }}<br>
    <b>Название:</b>{{ article.title }}<br>
    {% if article.author.name %}
        <b>Автор:</b>{{ article.author.name }}<br>
    {% else %}
        <td>Автора нет</td><br>
    {% endif %}
    <b>Содержание:</b><p>{{ article.lead }}</p><br>
    <br><br><br><br><br>
{% endblock %}